* {
    margin: 0;
}

a {
    color: white;
}   

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: white;
    border-radius: 2%;

    box-shadow: 0px 0px 5px 0px ;

    width: 400px;
}

.header {
    margin-top: 30px;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1877f2;
    width: 100%;

    margin-bottom: 100px;   
    padding: 20px;
}

.nav > h1 {
    justify-self: center;

    color: white;

    margin-left: 40px;
}

nav > a {
    margin-right: 20px;
}


.body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
}

.body input {
    padding: 8px;
    margin-right: 8px;

    border-top: 0;
    border-left: 0;
    border-right: 0;

    transition: ease-in-out 100ms;

    outline: 0;
}

.body input:focus {
    border-bottom: 5px solid #1877f2 ;
}

.body button {
    padding: 8px 16px;
    margin-top: 20px;

    border: 0;
    border-radius: 20px;

    transition: ease-in-out 100ms;

    cursor: pointer;

    width: 200px;
}

.body button:hover {
    box-shadow: 1px 1px 5px 0;
    background-color: #1877f2;
    color: white;
}

.footer {
    margin-top: 25px;
    font-size: 28px;
}

#rodape {
    margin-top: 100px;
    margin-bottom: 20px;
}